streamlit==1.26.0
pandas==1.3.5
numpy==1.23.5
numpydoc @ file:///opt/conda/conda-bld/numpydoc_1643788541039/work
plotly @ file:///opt/conda/conda-bld/plotly_1646671701182/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
